{% extends "posts/base.html" %}
{% block head_title %} Login | {{ block.super }} {% endblock head_title %}
{% load crispy_forms_tags %}

{% block post_detail_link %}
	<li><a href="">Login</a></li>	
{% endblock %}

{% block content %}
	<div class="col-sm-6 col-sm-offset-3">
		<h1>{{ title }} </h1>
		
		<form method="POST" action="">{% csrf_token %}
			 {{ form|crispy }}<!-- crispy_forms -->   <!-- {{ form.as_p }} -->
			<input type="submit" value="{{ title }}" />
		</form>
	</div>
		
{% endblock content %}		
	
