{% extends "posts/base.html" %}
{% block head_title %} New Post | {{ block.super }} {% endblock head_title %}
{% load crispy_forms_tags %}

{% block post_detail_link %}
	<li><a href="">Create Post</a></li>	
{% endblock %}

{% block content %}
	<div class="col-sm-6 col-sm-offset-3">
		<h1>New Post </h1>
		
		<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
			 {{ form|crispy }}<!-- crispy_forms -->   <!-- {{ form.as_p }} -->
			<input type="submit" value="Create Post" />
		</form>
	</div>
		
{% endblock content %}		
	
